h1 {

  color:#00FF00;
}


body {

  background-color: #ededed;
}



p.one {

background-color: rgb(156, 79, 61);
color: rgb(255, 255, 255);
}

p.two {

background-color: rgb(200, 57, 40);
color: rgb(255, 255, 255);
}

p.three {

background-color: rgb(230, 60, 37);
color: rgb(255, 255, 255);
}

p.four {

background-color: rgb(244, 101, 35);
color: rgb(0 ,0, 0);
}


p.five{

background-color: rgb(244, 236, 27);
color: rgb(0 ,0, 0);
}

p.six {

background-color: rgb(152, 201, 60);
color: rgb(0 ,0, 0);
}

p.seven {

background-color: rgb(14, 129, 64);
color: rgb(255 ,255, 255);
}

p.eight {

background-color: rgb(72, 104, 177);
color: rgb(255 ,255, 255);
}

p.nine {

background-color: rgb(52, 70, 156);
color: rgb(255 ,255, 255);
}

p.ten{

background-color: rgb(54, 47, 140);
color: rgb(255 ,255, 255);
}

p.eleven {

background-color: rgb(34, 32, 97);
color: rgb(255 ,255, 255);
}

p.twelve {

background-color: rgb(25, 24, 81);
color: rgb(255 ,255, 255);
}

p.thirteen {

background-color: rgb(16, 16, 66);
color: rgb(255 ,255, 255);
}

p.fourteen {

background-color: rgb(17, 16, 48);
color: rgb(255 ,255, 255);
}




p.base {
font-weight: bold;
text-decoration: underline;
text-transform: uppercase;
font-style: italic;
  color: rgb(255, 0, 255);
text-align: right;
line-height: 1.5em;
text-shadow: -1px -1px #666666


}

p.acid {
font-weight: bold;
font-style: italic;
text-decoration: underline;
text-transform: uppercase;
color: rgb(255, 0, 0);
text-align: right;
line-height: 1.5em


}

p.neut {

font-weight: bold;
text-decoration: underline;
text-transform: uppercase;
font-style: italic;
color: rgb(0, 0, 255);
text-align: center;
line-height: 1.5em




}
